{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HabraPosts</title>
    <link rel="stylesheet" href="{% static 'frontend/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="item header">
        <img src="https://assets.habr.com/habr-web/img/favicons/apple-touch-icon-120.svg" alt="Habr.com logo" style="margin: 0 auto; display: block;">
      </div>
      <div class="item panel">
        <ul>
          <li><a href="{% url 'admin:index' %}" target="_blank">Админка</a></li>
        </ul>
        <table>
          <caption>Статистика</caption>
          <tbody>
            <tr>
              <td>Статей</td>
              <td class="number">{{ articles_count }}</td>
            </tr>
            <tr>
              <td>Авторских тегов</td>
              <td class="number">{{ author_tags_count }}</td>
            </tr>
            <tr>
              <td>Пользовательских тегов</td>
              <td class="number">{{ user_tags_count }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="item content">
        {% block body %}
        {% endblock body %}
      </div>
    </div>
  </body>
</html>
